.ceiling {
    padding: 60px 0px 0px 0px;
    margin: -10px -8px 0px -10px;
    background-color: rgb(70, 70, 70);
}
.Characters-1 {
    width: 50px;
    height: 20px;
    text-align: center;
    margin: -40px 0px 0px 35px;
}
.Characters-2 {
    color: white;
    text-align: center;
    font-size: 22px;
    margin-left: 335px;
}
a {
    text-decoration: none;
}
.Story-1 {
    width: 50px;
    height: 20px;
    text-align: center;
    margin: -23px 0px 0px 570px;
}
.Story-2 {
    color: white;
    text-align: center;
    font-size: 21px;
}
.locations-1 {
    width: 50px;
    height: 20px;
    text-align: center;
    margin: -19px 0px 0px 765px;
}
.locations-2 {
    color: white;
    text-align: center;
    font-size: 21px;
}
.background {
    background-color: rgb(220, 220, 220);
    width: 1277px;
    height: 730px;
    margin: 0px 0px 0px -22px;
}
.background-2 {
    background-color: rgb(180, 180, 180);
    width: 1265px;
    height: 620px;
    margin: 260px 0px -10px -10px;
}
.block-1 {
    background-color: rgb(180, 180, 180);
    height: 250px;
    width: 300px;
    margin: -580px 0px 0px 45px;
    border-radius: 25px;
}
.photo {
    width: 100%;
    height: 185px;
    border-radius: 20px 20px 0px 0px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    max-width: 100%;
}
img {
    width: 300px;
    height: 185px;
    border-radius: 20px 20px 0px 0px;
}
.text {
    width: 100%;
    height: 134px;
    background-color: rgb(180, 180, 180);
    border-radius: 0px 0px 20px 20px;
    box-shadow: 5px 7px 7px 1px rgba(100, 100, 100, 0.2);
    text-align: center;
}
.text-2 {
    color: black;
}
h1 {
    padding-top: 30px;
}
.photo:hover {
    transform: scale(1.1);
    filter: saturate(250%);
}
a:hover {
    color: red;
}
.block-2 {
    background-color: rgb(180, 180, 180);
    height: 319px;
    width: 300px;
    margin: -340px 0px 0px 425px;
    border-radius: 25px;
}
.photo-2 {
    width: 100%;
    height: 185px;
    border-radius: 20px 20px 0px 0px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    max-width: 100%;
}
.text-3 {
    width: 100%;
    height: 130px;
    background-color: rgb(180, 180, 180);
    border-radius: 0px 0px 20px 20px;
    box-shadow: 5px 7px 7px 1px rgba(100, 100, 100, 0.2);
    text-align: center;
}
.text-4 {
    color: black;
}
h2 {
    padding-top: 25px;
    font-size: 32px;
}
.photo-2:hover {
    transform: scale(1.1);
    filter: saturate(250%);
}
.block-3 {
    background-color: rgb(180, 180, 180);
    height: 319px;
    width: 300px;
    margin: -345px 0px 0px 425px;
    border-radius: 25px;
}
.photo-3 {
    width: 100%;
    height: 185px;
    border-radius: 20px 20px 0px 0px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    max-width: 100%;
}
.text-5 {
    width: 100%;
    height: 130px;
    background-color: rgb(180, 180, 180);
    border-radius: 0px 0px 20px 20px;
    box-shadow: 5px 7px 7px 1px rgba(100, 100, 100, 0.2);
    text-align: center;
}
.text-6 {
    color: black;
}
h3 {
    padding-top: 22px;
    font-size: 32px;
}
.photo-3:hover {
    transform: scale(1.1);
    filter: saturate(250%);
}
#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    position: absolute;
    top: 20px;
    left: 30px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 1;
    padding-top: 10px;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    background-color: white;
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0px;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  video {
    margin: 150px 0px 0px 400px;
  }
  .text-text {
    height: 80px;
    width: 350px;
    background-color: rgb(180, 180, 180);
    text-align: center;
    padding-bottom: 15px;
    margin: -25px 0px 0px 475px;
  }
  h1 {
    padding-top: 20px;
    color: black;
  }